h2 Chat Window !!
div#messages
div(style="position:absolute;bottom:25;)
  input#text-input(type="text")
  input#send-button(type="button", value="Send")
  input#join_game(type="button", value="Join")
  input#start_game(type="button", value="Start")
div#userList
div#playerList(style="background-color:yellow")
script(type="text/javascript", src="/javascript/chat.js")

